@charset "utf-8";
/* CSS Document */

.section_inner {
    padding-bottom: 18px;
	background-image:url(../images/thumb1.jpg);
	background-repeat:repeat-x;
	}
}

@media (min-width:768px){
.hidden
{
width:100%;
}
.section_mod-a {
    padding-bottom: 18px;
    background-color: #4B2E84;
}
.section_mod-a__inner {
    position: relative;
    margin-top: -180px;
}
.section-advantages {
    padding: 2px 20px 0;
}
.section_mod-b {
    position: relative;
    margin-top: -84px;
}

}

@media (min-width:992px){
.section_mod-a {
    padding-bottom: 18px;
    background-color: #4B2E84;
}
.section_mod-a__inner {
    position: relative;
    margin-top: -180px;
}
.section-advantages {
    padding: 2px 20px 0;
}
.section_mod-b {
    position: relative;
    margin-top: -84px;
}
}



@media (min-width:1200px)
{
.section_mod-a {
    padding-bottom: 18px;
    background-color: #4B2E84;
}
.section_mod-a__inner {
    position: relative;
    margin-top: -180px;
}
.section-advantages {
    padding: 2px 20px 0;
}
.section_mod-b {
    position: relative;
    margin-top: -84px;
}
}



@media (max-device-width:480px) and (orientation:landscape){
.section_mod-a {
    padding-bottom: 18px;
    background-color: #4B2E84;
}
.section_mod-a__inner {
    position: relative;
    margin-top: 0px;
}
.section-advantages {
    padding: 2px 20px 0;
}
.section_mod-b {
    position: relative;
    margin-top: 0px;
}

}

.find-course__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 7px 12px;
	font-family:Oswald;
	font-weight:300;
    font-size: 16px;
    color: #fff;
	background-color:#9261AA;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
}
.home-head
{
margin: 0px;
padding: 15px 0 0 0;
font-family:Oswald;
font-size:25px;
color: #9261AA;
font-weight: normal;
}
.format
{
font-family:Calibri;
font-size:14px;
color: #404040;
    line-height: 21px;
	text-align:justify;
}
.innerdic
{
background-image:url(../images/footer.html);
}
.ineerright
{
    box-shadow: 0 0 15px 0 rgb(255, 241, 186);
    background-color: #FFFFFF;
}

.ficourse__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 0px 13px;
    font-family: Oswald;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    background-color: #9261AA;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
}

.drop {
    border: 2px solid #eeeeee;
    width: 100%;
    height: 35px;
    outline: none;
    padding-left: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #000000;
	letter-spacing: normal;
}

.btn {
        padding: 6px 3px;
    font-size: 14px;
	font-family:Calibri;
	
}
.btn-primary:hover {
    color: #ffffff;
}
.btn-primary:after {
    background-color: #76B521;
}
.btn-effect:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    opacity: 0;
    z-index: -1;
    content: '';
    transition: all 0.3s ease 0s;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.wish-send {
}
.haslayout {
    width: 100%;
	padding-top:15px;
	padding-bottom:10px;
}
.wish-send figure {
    margin: 0;
    position: relative;
    z-index: 2;
}
.wish-send figure:before {
    right: 5px;
    bottom: 5px;
}
.wish-send figure:before, .wish-send figure:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #4B2E84;
    z-index: 1;
}
.wish-send figure img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 3;
}
.wish-send figure:after {
    top: 5px;
    left: 5px;
}
.wish-send figure:before, .wish-send figure:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #4B2E84;
    z-index: 1;
}

.ineerbox
{
    box-shadow: 0 0 15px 0 rgb(140, 140, 140);
    background-color: #FFFFFF;
	padding-bottom:10px;
}

.crunch
{
margin:0px;
padding-top:15px;
padding-right:5px;
font-family:calibri;
font-size:14px;
color: #091138;
font-weight: normal;
text-align:right;
}

.purple-ul {
       padding: 0;
    margin: 0px 0 6px 12px;
    list-style-image: url(../images/bul1.gif);
    font-size: 14px;
    line-height: 21px;
    font-family: Calibri;
    color: #404040;
	}
.headline {
    max-width: 100%;
    margin-bottom: 13px;
    border-bottom: 1px solid #372362;
}
.headline span {
margin: 0px;
    padding: 15px 27px 5px 0;
    font-family: Oswald;
    font-size: 25px;
    color: #9261AA;
    font-weight: normal;
	letter-spacing:normal;
    display: inline-block;
    border-bottom: 3px solid #F9C35C;
    margin-bottom: -1px;}
	
	.sub-head
	{
	margin: 0px;
    padding: 5px 5px 0px 0;
    font-family: Oswald;
    font-size: 18px;
    color: #EB9F00;
    font-weight: 300;
    letter-spacing: normal;

	}
	
	.bottom-space
	{
	padding-bottom:10px;}
	
	
.feed-purple {
    background: rgb(242, 235, 255);
    color: #404040;
    border-radius: 6px;
    padding: 7px;
	margin-top: 7px;
    margin-bottom: 7px;
	border: 1px solid #C4C4C4;
}
.feed-yellow {
background-color:#fefaeb;
    color: #404040;
    border-radius: 6px;
    padding: 7px;
	margin-top: 7px;
    margin-bottom: 7px;
	border: 1px solid #C4C4C4;
}
.black-ul {
       padding: 0;
    margin: 0px 0 5px 14px;
    list-style-image: url(../images/arrow3.png);
    font-size: 14px;
    line-height: 21px;
    font-family: Calibri;
    color: #404040;
	}
	
	.sub-headnner
	{
	margin: 0px;
    padding: 5px 5px 0px 0;
    font-family: Oswald;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    letter-spacing: normal;
	padding-bottom:10px;

	}
	
	
	.sub-headback
	{
	margin: 0px;
    padding: 5px 5px 5px 5px;
	margin:5px 0px;
    font-family: Oswald;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: normal;
	background: rgba(76,49,133,1);
background: -moz-linear-gradient(left, rgba(76,49,133,1) 0%, rgba(146,128,189,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,49,133,1)), color-stop(100%, rgba(146,128,189,1)));
background: -webkit-linear-gradient(left, rgba(76,49,133,1) 0%, rgba(146,128,189,1) 100%);
background: -o-linear-gradient(left, rgba(76,49,133,1) 0%, rgba(146,128,189,1) 100%);
background: -ms-linear-gradient(left, rgba(76,49,133,1) 0%, rgba(146,128,189,1) 100%);
background: linear-gradient(to right, rgba(76,49,133,1) 0%, rgba(146,128,189,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c3185', endColorstr='#9280bd', GradientType=1 );

	}
	
	





















.sub-head-sub
{
        margin: 0px;
       padding: 10px 5px 0px 0;
    font-family: Oswald;
    font-size: 14px;
    color: #4A2D87;
    font-weight: bold;
    letter-spacing: normal;}	
	


    
 .btncourses {
        padding: 1px 18px;
    font-size: 12px;
    font-family: Calibri;
    border-radius: 4px;
    
	
}

.sub-head-sub
{
        margin: 0px;
       padding: 10px 5px 0px 0;
    font-family: Oswald;
    font-size: 14px;
    color: #4A2D87;
    font-weight: 300;
    letter-spacing: normal;}
    
.sub-head-sub-contact
{
        margin: 0px;
    padding: 5px 0px 0px 0;
    font-family: Oswald;
    font-size: 14px;
       color: #4D2C83;
    font-weight: 500;
    letter-spacing: normal;}
    
.bgcolor-blue
{
    background-color:#000; 
    border: 1px solid #E0E0E0;
    background-color: #F5F1FF;
    margin: 10px 0;}
     
.bgcolor-pink
{
     background-color:#000; 
    border: 1px solid #E0E0E0;
    background-color: #FEFAEB;
      margin: 10px 0;
    }
	
.bgcolor-blue-lab
{
    background-color:#000; 
    border: 1px solid #E0E0E0;
    background-color: #F5F1FF;
    margin: 10px 0;}
    
 .courseTable td.bgColor {
    background: #8A74AE;
    color: #fff;
}

.courseTable td {
    border-right: 1px #F0E9FC solid;
    border-bottom: 1px #F0E9FC solid;
}


