/**
 * 1.0 - Reset
 * -----------------------------------------------------------------------------
 */
 .tzWrap {
                    background-image: url("");
                    background-size: cover;
                }body#bd {background: #ffffff;}#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
  padding: 0 20px;
}

.tz-life-content.owl-carousel .owl-stage {
  z-index: 3;
}
.tz-banner-style1 .tz-liner-logo img{
   margin-left: 0px !important;
}
body .tz-footer aside.widget_nav_menu > div > ul > li a{
  padding: 0 !important;
}
body .wpb_button, .wpb_content_element,
body ul.wpb_thumbnails-fluid > li{
margin-bottom: 0 !important;
}
body .vc_custom_1433507170744{
   padding-bottom: 0 !important;
    padding-top: 0 !important;
}
body .vc_icon_element{ margin-bottom: 0; }
.tz-image-item img, .tz-item-element img, .portfolio-style-5 .tz-portfolio-image-height img{
   max-width: none; 
}
body .vc_col-has-fill>.vc_column-inner{
   padding-top: 0;
}

.vc_row.vc_row-flex .container {
 box-sizing: border-box;
 display: flex;
 flex-wrap: wrap;
}

.vc_row.vc_row-o-equal-height .container .vc_column_container {
 align-items: stretch;
}.vc_row.vc_row-flex .container .vc_column_container {
 display: flex;
}.vc_row.vc_row-flex .container .vc_column_container > .vc_column-inner {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
}
.tz-offcavans-menu-left .tzscrollable{ opacity:1; 
}

@media(max-width: 991px){
div .tz-phone-fax{
  position: static !important;
}
}
@media(max-width: 768px){
  .tz-header-6 .container{
     padding: 0 !important;
   }
}
@media(max-width: 480px){
  .tz-services-description p,
  .tz-services-description h3,
  .tz-button-shortcode{
     text-align: center;
   }
   .tz-services-description p{
     padding: 30px 15px 0;
   }
}

                    /* Theme Color 1*/

                     .tz-header-2-eff .tz-customer-container,
                     .vc_custom_1433747819643,
                     body .affix-eff,
                     .tz-header-2,
                     .tz-home2-tab-galexy a,
                     .tzautoplay,
                     .tzpause,
                     .tz-footer-content,
                     
                     .tz-header-7 .tz-header-content #mega-menu-wrap-primary #mega-menu-primary > li > a,
                     .tz-header-2 .tz-header-content #mega-menu-wrap-primary #mega-menu-primary,
                    
                     #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a:hover,
                     .tz-header-4,
                    body .tz-contact-wapper-style-4 li:nth-child(1) span,
                     .tz-phone-fax,
                     .vc_custom_1433999437194,
                     .vc_custom_1434347826763,
                     
                     .tz-header-7 .tz-header-content,
                     .tz-header.tz-header-7.tz-header-7-eff.tzAdmin_bar,
                     .tz-information-content,
                     .vc_custom_1434347826763,
                     .tz-portfolio-content-style-7 a:hover span,
                     .tz-portfolio-project-style-7,
                     
                     .tz-introduce-content.tz-introduce-content-style-3 h4 a,
                     .tz-liner-logo::after,
                     
                     .tz-portfolio-project,
                     .tz-header.tz-header-5 .tz-header-content,

                     .tz-shortcode-title2,
                     .tz-portfolio-all-project-style-5,
                     .tz-portfolio-content-style-3 span a:hover,
                     .tz-blog-more span:hover::after,
                     .tz-forum.tzbbpress #bbpress-forums li.bbp-header,
                     .tz-forum.tzbbpress #bbpress-forums li.bbp-footer,
                     #groups-list .action .meta,
                     #whats-new-options #whats-new-submit #aw-whats-new-submit,
                     .tz-menu-left .tz-button-toggle:hover,
                     .tz-menu-right li.menu-item ul.sub-menu li:hover,
                     .tz-menu-left li.menu-item ul.sub-menu li:hover,
                     .vc_custom_1429264615073,
                     .tz-header-7 .tz-header-content #mega-menu-wrap-primary #mega-menu-primary > li:hover > a,
                     .tz-header-3.tz-header-3-eff .tz-customer-container,
                     .tz-banner .tz-header-3.tz-header-3-eff .tz-customer-container,
                     body .affix-eff,
                     .tz-portfolio-content a:hover span,
                     .tz-portfolio-content-style-5 span a:hover,
                     .tz-portfolio-image-style-5 span a:hover,
                     .tz-header #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item:hover a,
                     .tz-list-item .tribe-events-list-event-description > span::after,
                     .vc_custom_1433994704893,
                     .vc_custom_1433994394696,
                      #bbpress-forums .tzkunena-login .bbp-login-form .bbp-submit-wrapper .button.submit.user-submit,
                     #loginform #wp-submit:hover,
                     body .tz-header-7.tz-header-7-eff,
                     #bbpress-forums .bbp-template-notice.info,
                     #bbpress-forums .bbp-template-notice.info .bbp-forum-description,
                     .tz-header-content .tz-search,
                     .tz-header-content .tz-button-toggle,
                     .tz-header-content .tz-button-toggle-canvans,
                     #off-canvas-nav .plazart-mainnav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,                               body #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover,
                     body .tz-header.tz-header-5.tz-header-5-eff,
                     .tz-header.tz-header-home-1 .tz-menu > li > a,
                     .tz-menu > li > ul.sub-menu > li:hover,
                     .tz-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover,
                     .tz-header.tz-header-home-1 #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a,
                     .tz-header.tz-header-home-1 #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link,
                     #mega-menu-wrap-primary #mega-menu-primary > .menu-item-language .submenu-languages .menu-item-language > a:hover{
                        background: #6640B0  !important;
                    }
                    @media (max-width: 991px){
                        
                         .tz-customer-container .tz-header-content #mega-menu-wrap-primary #mega-menu-primary > li > a,
                         body .tz-header-home-1{
                            background:#A9291F  !important;
                        }
                    }
                    .tz-portfolio-project a:hover,
                    .tz-portfolio-all-project-style-5 a{
                        color:#fff;
                    }
                     .tz-item-portfolio .tz-portfolio-content-style-2,
                     .tz-image-event-item:hover::after,
                     .tz-lastest-articles-style-7 li:hover .tz-article-content,
                     .tz-lastest-articles-style-3 li:hover .tz-article-content,
                     .tz-article-content{
                        background: rgba(51,72,120,0.8);
                    }
                     .tz-events-item .tz-image:hover::after{
                        background: rgba(51,72,120,0.6);
                    }
                     .tz-contact-wapper li input:focus,
                      .form-control:focus{
                        border-color:#334878;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(51,72,120,0.6);
                    }
                     .tz-home2-tab-galexy a:hover,
                     .tz-leader-content a i,
                     .tz-article-content a:hover::after,
                     .tz-article-content a:hover i,
                     .tz-article-content a:hover,
                     .tribe-events-list .time-details,  .tribe-events-list .tribe-events-venue-details,
                    body .tz-events-wrapper .tribe-events-schedule,
                    body .tz-events-wrapper .tribe-events-schedule span,
                    body .tz-events-wrapper .tribe-events-schedule span.tribe-events-cost,
                    body .tz-events-wrapper .tz-single-ticket .tribe-events-meta-group.tribe-events-meta-group-venue dd a,
                     .tmm_desc,  #groups-list .item-title a,
                     .activity-content .activity-header p a,
                     .acomment-meta a, #members-list .tz-member-item .item .item-title a{
                        color:#334878 !important;
                    }

                    a,a:hover, a:focus{
                        color:#334878;
                    }