.capitalize {
    text-transform: uppercase;
}

.fix-top-margin-1 {
    margin-top: 10px;
}

.fix-top-margin-2 {
    margin-top: 20px;
}

.fix-top-margin-3 {
    margin-top: 30px;
}

.fix-top-margin-4 {
    margin-top: 40px;
}

.fix-top-margin-6 {
    margin-top: 60px;
}

.fix-top-margin-8 {
    margin-top: 80px;
}

.fix-top-margin-10 {
    margin-top: 100px;
}

.large-text-28 {
    font-size: 28px;
}

.large-text-22 {
    font-size: 22px;
    line-height: 30px;
}

.large-text-22 a {
    color: #5F5F5F;
    border-bottom: 1px dashed #d2d2d2;
}

.large-text-18 {
    font-size: 18px;
    font-weight: 400;
}

.fix-padding-15 {
    padding: 10px 20px;
}

.fix-padding-20 {
    padding: 20px;
}

.fix-padding-40 {
    padding: 40px;
}

.fix-padding-60 {
    padding: 60px;
}

.border-1 {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.border-2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a:focus,a:hover {
    color: none;
}

.social {
    float: left;
    margin-top: 11px;
}

.social .icon {
    display: inline-block;
    line-height: 35px;
    font-size: 17px;
}

.social .icon.fb a {
    background: #3a589b;
    color: #fff;
    display: block;
    width: 30px;
    height: 33px;
}

.social .icon.yt a {
    background: #cf3427;
    color: #fff;
    display: block;
    width: 30px;
    height: 33px;
}

.social .icon.in a {
    background: #007cb4;
    color: #fff;
    display: block;
    width: 30px;
    height: 33px;
}

.social .icon a:hover {
    background: #333;
    color: #ffd440;
}

.apply {
    float: left;
}

.apply a {
    height: 35px;
    background: #f83b49 url(../images/apply-bg.html) no-repeat left top;
    float: left;
    margin-left: 7px;
    border: 1px solid #de1f2d;
    font: 400 18px Dosis,sans-serif;
    padding: 0 7px;
    padding-left: 50px;
    color: #fff;
    line-height: 35px;
    width: 134px;
}

.apply a:hover {
    background-color: #de1f2d;
}

.apply.logOff a {
    background: #f83b49 url(../images/apply-bg-h.html) no-repeat left top;
}

section {
    padding: 0px 0;
}

footer {
    background: #372261;
    padding: 30px 0;
	
}

footer p {
    text-align: left;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

footer p strong {
    
}

footer p a {
    color: #fff;
}

footer p a:hover {
    color: #fff;
    border-bottom: 1px dotted #d2d2d2;
}

footer ul {
    list-style: none;
}

footer li a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

footer li a:hover {
    color: #FFBD33  ;
    border-bottom: 1px dotted #E20000;
}

.f-map {
    height: 195px;
}

.f-social .icon a {
     background: #FFBD33;
    border: 2px solid #FFFFFF;
    font-size: 22px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    color: #fff;
    margin-right: 5px;
}

.f-social .icon a:hover {
    background: #FFD47A;
    color: #fff;
    border-color: #EEA200;
}

.footer-bar {
 display: table;
    width: 100%;
    padding: 10px 0px;
}

.copy {
    float: left;
    color: #fff;
    font-size: 13px;
}

.counter-cart {
    float: left;
    background: #091138;
    border: 1px solid #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 0px;
    padding: 0px 0px;
    letter-spacing: 3px;
    color: #ccc;
    margin-left: 290px;
    height: 22px;
}

.ifw {
    float: right;
}

#owl-demo6 .item {
    padding: 10px;
}

#owl-demo6 .item img {
    width: 100%;
    border: 4px solid #fff;
}

#owl-demo6 .owl-pagination {
    display: none;
}

#owl-demo6 .owl-prev {
    top: 69px;
    top: 39%;
}

#owl-demo6 .owl-next {
    top: 69px;
    top: 39%;
}

/* Chrome 19+, Safari 6+, Safari 6+ iOS */
.associated {
              /* background: #FFBD33; */
    border-bottom: 5px solid #FFBD33;
    padding: 15px 0;
}

.associated .title {
        font: 300 25px Oswald,sans-serif;
    text-align: center;
    color: #091138;
    background: url(../images/logo-line.jpg) repeat-x center 22px;
}

.associated .title span {
        background: #FFFFFF;
    padding: 0 10px;
}

.associated-img {
    padding: 10px;
}

.associated-img img {
       width: 100%;
    outline: 3px solid #FFE453;
}

.associated-img:hover img {
    outline: 3px solid #FFE453;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.html);
/* Firefox 4+ */
    filter: gray;
/* IE 6-9 */
    filter: gray;
/* IE6-9 */
    -webkit-filter: grayscale(100%);
/* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

footer .title {
    font: 300 18px Oswald,sans-serif;
    color: #fff;
    position: relative;
    margin-bottom: 7px;
    padding-bottom: 5px;
}

footer .title::after {
   content: '';
    position: absolute;
    background: #FFBD33;
    height: 2px;
    width: 33px;
    bottom: 0;
    left: 0;

}

footer .title1 {
    font: 300 18px Oswald,sans-serif;
    color: #fff;
    position: relative;
    margin-bottom: 7px;
    padding-bottom: 5px;
}

footer .title1::after {
   content: '';
    position: absolute;

    height: 2px;
    width: 33px;
    bottom: 0;
    left: 0;

}


h1 {
    font: 400 25px Dosis,sans-serif;
    margin-top: 0;
}

.back a {
    background: #67376d;
    color: #fff;
    font-size: 16px;
    padding: 4px 10px;
    margin-top: 10px;
    float: right;
}

.back a:hover {
    background: #454545;
}

h2 {
    font: 400 25px Dosis,sans-serif;
    margin-top: 0;
}

h2 span {
    font-size: 18px;
}

h2 a {
    color: #454545;
}

h3 {
    margin-top: 0;
    font-size: 20px !important;
    color: #1B1D1F !important;
}

h3 span {
    color: #454545;
    font-size: 15px;
}

h4 {
    margin-top: 0;
    font-size: 17px;
    color: #1F8A96;
    margin-bottom: 7px;
    font-weight: 700;
}

.b-text {
    font-weight: 600;
}

.note-text {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
}

hr {
    height: 0;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #bbc3ba;
    margin: 25px 0;
}

.associated .owl-pagination {
    display: none !important;
}

#owl-demo3 .owl-pagination {
    display: none !important;
}

#owl-demo3 .owl-next {
    background: #454545 !important;
    top: -35px !important;
    right: 0;
    border-radius: 0;
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#owl-demo3 .owl-prev {
    background: #454545 !important;
    top: -35px !important;
    right: 30px;
    left: auto;
    border-radius: 0;
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#owl-demo3 .owl-next img {
    height: 25px;
}

#owl-demo3 .owl-prev img {
    height: 25px;
}

/* Search*/
@media screen and (max-width:800px) {
    .r-box {
        width: 273px;
        margin: 0 auto;
        float: none;
    }

    h1 {
        font-size: 24px;
    }

    .front-program {
        margin: 25px 0;
    }

    .counter-cart {
        margin-left: 133px;
    }

    #cssmenu > ul > li > a {
        padding: 14px 6px !important;
        font-size: 14px;
    }

    .find-courses .title {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .find-courses .form-box {
        padding-left: 0;
    }

    .find-courses .form-control {
        height: 40px;
    }

    .find-courses .btn {
        height: 40px;
        padding-left: 24px;
        height: 40px;
        font-size: 14px;
    }

    .associated .owl-theme .owl-controls .owl-buttons div {
        display: none !important;
    }

    .large-text {
        font-size: 55px;
    }

    .secured-wrapper .title {
        font-size: 40px;
    }

    .logo-box {
        width: 687px;
        float: none;
        margin: 0 auto 20px;
        display: table;
    }

    .blt2 li {
        width: 100%;
    }

    .establishment li {
        width: 30%;
    }

    .establishment ul.logo3 li {
        width: 25%;
        margin-bottom: 30px;
    }

    .contact-link strong {
        display: inline;
    }

    .awards-list li {
        width: 50%;
    }

    .awards-list li .text {
        min-height: 150px;
    }

    .course-detail li .fee {
        float: none;
        margin-right: 0;
    }

    .establishment li {
        width: 33.33%;
    }

    .establishment li .img {
        width: 100%;
    }

    .woman-administrators ul>:first-child {
        width: 65%;
    }

    .woman-administrators li {
        width: 33.3%;
    }

    .placements-box .img {
        display: none;
    }

    .placements-box .text {
        padding-left: 0;
    }

    .placements-list li {
        width: 16.66%;
    }

    .p-drices .large-text {
        padding-top: 57px;
    }

    .life-jvwu-wrapper-box {
        width: 600px;
        margin: 30px auto;
    }

    #owl-demo6 .owl-prev {
        display: none;
    }

    #owl-demo6 .owl-next {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .logo-box {
        width: 100%;
        text-align: center;
    }

    .logo-box .text {
        float: none;
    }

    .logo-box .logo {
        margin: 0 auto;
        float: none;
    }

    .logo-box .text-1 {
        font-size: 22px;
        margin-top: 0;
    }

    .logo-box .text-2 {
        font-size: 13px;
    }

    .logo-box .text-3 {
        font-size: 16px;
    }

    .toll-free {
        margin-top: 15px;
    }

    .r-box {
        display: table;
    }

    .message-wrapper .img {
        float: none;
        margin: 0 auto;
    }

    .message-wrapper .text-box {
        padding-left: 0;
    }

    .secured-wrapper .title {
        margin-top: 75px;
        font-size: 26px;
    }

    .large-text {
        font-size: 40px;
    }

    .find-courses .form-control {
        margin-bottom: 10px;
    }

    .quick-link li {
        width: 100%;
    }

    .news-wrapper {
        margin-bottom: 35px;
    }

    .copy {
        text-align: center;
        float: none;
    }

    .counter-cart {
        width: 90px;
        text-align: center;
        margin: 10px auto;
        float: none;
    }

    .ifw {
        float: none;
        text-align: center;
    }

    #cssmenu.small-screen ul {
        text-align: left;
    }

    .mainContainer.inner h1 {
        font-size: 30px;
    }

    .icon-box .text {
        padding: 20px;
    }

    .icon-box .img {
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        position: relative;
    }

    .icon-box .img.vision {
        background-size: 20%;
    }

    .icon-box .img.mission {
        background-size: 20%;
    }

    .icon-box .img.proud {
        background-size: 20%;
    }

    .facts li .title {
        position: relative;
        width: 100%;
    }

    .facts li .text {
        padding: 10px;
    }

    .establishment li {
        width: 50%;
        margin-bottom: 30px;
    }

    .establishment ul.logo3 li {
        width: 33.33%;
    }

    .course-detail li .title {
        position: relative;
        border-right: none;
        border-bottom: 1px solid #d2d2d2;
        margin-right: 0;
        width: 100%;
        padding: 7px 10px;
    }

    .course-detail li .text-wrapper {
        padding: 7px 10px;
    }

    .announcement-detail-wrapper img {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
        max-width: none;
    }

    .back a {
        margin-top: 5px;
    }

    .awards-list li {
        width: 100%;
    }

    .awards-list li .text {
        min-height: 0;
    }

    input[type=file] {
        width: 100%;
    }

    .gallery-list.gallery li {
        width: 50%;
    }

    .gallery-list li {
        width: 100%;
    }

    .woman-administrators ul>:first-child {
        width: 100%;
    }

    .woman-administrators li {
        width: 50%;
    }

    .placements-list li {
        width: 20%;
    }

    .placements-box .title2 {
        margin-bottom: 15px;
    }

    .p-drices .large-text {
        font-size: 30px;
        padding-top: 23px;
    }

    .course-detail.entrance li .title {
        width: 100%;
        border-bottom: none;
    }

    .course-detail.entrance li .text-wrapper {
        padding-left: 10px;
    }

    .bank-box li .text span {
        display: table;
        width: 100%;
    }

    .faculty-page-img {
        float: none;
        margin-left: 0;
        width: 260px;
    }
}

@media screen and (max-width:480px) {
    .logo-box .logo {
        width: 88px;
    }

    .logo-box .text-1 {
        font-size: 18px;
    }

    .logo-box .text {
        margin-top: 5px;
    }

    .logo-box .text-2 {
        font-size: 11px;
    }

    .logo-box .text-3 {
        font-size: 12px;
    }

    .quick-link li a {
        font-size: 18px;
    }

    .announcement {
        display: none;
    }

    .mainContainer.inner h1 {
        font-size: 26px;
    }

    .icon-box .text {
        padding: 15px;
    }

    .icon-box .img {
        height: 60px;
    }

    .establishment ul.logo3 li {
        width: 50%;
    }

    .page-img {
        border: 3px;
    }

    .bank-wrapper .img {
        position: relative;
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        background-size: 40%;
    }

    .bank-wrapper {
        padding-left: 0;
    }

    .bank-wrapper .img2 {
        position: relative;
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        background-size: 40%;
    }

    .course-detail a {
        display: block;
        text-align: center;
    }

    .course-detail ul {
        margin-bottom: 0;
    }

    .course-detail li .fee {
        line-height: 22px;
        margin-bottom: 5px;
    }

    .course-detail li .line {
        top: 5px;
    }

    .course-detail li .price {
        display: block;
    }

    h3 {
        font-size: 17px;
    }

    .establishment li {
        width: 100%;
    }

    .establishment li .img {
        float: left;
    }

    .establishment li .sub-text {
        float: left;
        text-align: left;
    }

    .establishment ul.loan li .sub-text {
        float: none;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    .establishment ul.loan li {
        margin-bottom: 20px;
    }

    .establishment ul.loan li .sub-text a {
        margin-bottom: 0;
    }

    .woman-administrators li {
        width: 100%;
    }

    .placements-list li {
        width: 25%;
    }

    .p-drices .large-text {
        font-size: 15px;
        padding-top: 10px;
    }

    .bank-box li .link-bar a {
        margin-right: 0;
        display: block;
        margin: 5px 0;
    }

    .bank-box li .img {
        margin-left: auto;
        margin-right: auto;
    }

    .faculty-page-img {
        width: 100%;
    }

    .iframe-box {
        min-height: 400px;
    }
}

@media screen and (max-width:320px) {
    .message-wrapper .img {
        width: 185px;
        height: 185px;
    }

    .large-text {
        font-size: 32px;
    }

    .apply {
        display: none;
    }

    .search-bar {
        width: 170px;
    }

    .toll-free {
        font-size: 15px;
    }

    .r-box {
        width: 204px;
    }

    .social {
        float: none;
    }

    .login-btn .text {
        font-size: 15px;
    }

    .quick-link li a {
        font-size: 11px;
        padding-left: 61px;
    }

    .quick-link li.li-01 a:after {
        top: 13px;
    }

    .quick-link li.li-02 a:after {
        top: 13px;
    }

    .quick-link li.li-03 a:after {
        top: 13px;
    }

    .quick-link li.li-04 a:after {
        top: 13px;
    }

    .quick-link li.li-05 a:after {
        top: 13px;
    }

    .quick-link li {
        padding: 0;
    }

    .mainContainer.inner h1 {
        font-size: 24px;
    }

    .facts li .title {
        padding: 6px;
    }

    .facts li .text {
        padding: 6px;
    }

    .contact-link strong {
        display: none;
    }

    h3 {
        font-size: 16px;
    }

    .establishment ul.logo3 li {
        width: 100%;
    }

    .gallery-list.gallery li {
        width: 100%;
    }

    .placements-list li {
        width: 33.3%;
    }

    .p-drices img {
        display: none;
    }

    .p-drices {
        background: #046645;
        height: 90px;
    }

    .top-link {
        float: none;
        display: inline-block;
    }

    .search {
        width: 100%;
    }

    .bank-box li .img {
        width: 150px;
    }
}

@media screen and (max-width:240px) {
    
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.site-loading {
    background-color: ;
}

.sk-spinner-pulse,.sk-rotating-plane,.sk-double-bounce .sk-child,.sk-wave .sk-rect,.sk-chasing-dots .sk-child,.sk-three-bounce .sk-child,.sk-circle .sk-child:before,.sk-fading-circle .sk-circle:before,.sk-folding-cube .sk-cube:before {
    background-color: #9261aa;
}

body {
    font-family: Roboto;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

h1 {
    font-family: Oswald;
    line-height: 48px;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

h2 {
    font-family: Oswald;
    line-height: 39px;
    font-weight: 700;
    font-style: normal;
    font-size: 29px;
}

h3 {
    font-family: Oswald;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

h4 {
    font-family: Oswald;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

h5 {
    font-family: Oswald;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

h6 {
    font-family: Oswald;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}

 {
    font-family: }

 {
    font-family: }

 {
    font-family: }

.vc_custom_1453450728036 {
       background: #091138;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}

.vc_custom_1453947936824 {
    background-image: url(academia/wp-content/uploads/2016/01/about_29109.html?id=526) !important;
}

.vc_custom_1453460488027 {
   
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1453518081559 {
    background-color:#6640B0  !important;
}

.vc_custom_1453518099311 {
    background-color: #593C93  !important;
}

.vc_custom_1453518112274 {
    background-color: #4B2E84 !important;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}

img.wp-smiley,img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -.1em !important;
    background: none !important;
    padding: 0 !important;
}

.childcontent .gkcol {
    width: 240px;
}

h1,h2,h4,body,html,body button,body input,body select,body textarea,#gkMainMenu,.gkMenu > ul li div.childcontent li,.gkMenu > ul li div.childcontent header,#gkMenuOverlayContent,.genericView article header h2,dl#tabs dt.tabs span h3,dl.tabs dt.tabs span h3 {
 
}

h3,h5,h6,blockquote,.gk-newsletter input[type="button"],#gkMenuOverlayClose,#gkMenuOverlayHeader,#gkSearch input,.gkIsWrapper-gk_university figcaption,.gkIsWrapper-gk_university figcaption h2,header > time,.gkContent,.gkContentList,.gkNspPM-EventsList h3,.gkNspPM-EventsList time,.darkbar .nspHeader,.darkbar li h4,#gkPageTitle,.gkVideoBlock,#community-wrap .cThumb-Calendar b,#community-wrap .cThumb-Calendar b+b,.gkNspPM-JomSocialPhotos figcaption small {
    
}

#gkLogo.text {
    font-family: Times,"Times New Roman",serif;
}

#gkBottom4 figure small {
    font-family: 'Roboto',Arial,sans-serif;
}

@media screen and (max-width: 780px) {
    #k2Container .itemsContainer {
        width: 100% !important;
    }

    .cols-2 .column-1,.cols-2 .column-2,.cols-3 .column-1,.cols-3 .column-2,.cols-3 .column-3,.demo-typo-col2,.demo-typo-col3,.demo-typo-col4 {
        width: 100%;
    }
}

#gkHeaderLeft {
    width: 100%;
}

#gkHeaderRight {
    width: 30%;
}

#gkSidebar {
    width: 30%;
}

#gkContent {
    width: 70%;
}

#gkContentWrap {
    width: 100%;
}

.gkPage,#gkPageContent + #gkBottom1:before,#gkPageContent + #gkBottom2:before,#gkPageContent + #gkBottom3:before,#gkPageContent + #gkBottom4:before,#gkPageContent + #gkBottom5:before,#gkPageContent + #gkBottom11:before {
    max-width: 1240px;
}

#menu1010 > div,#menu1010 > div > .childcontent-inner {
    width: 240px;
}

#menu1054 > div,#menu1054 > div > .childcontent-inner {
    width: 240px;
}

#menu1053 > div,#menu1053 > div > .childcontent-inner {
    width: 480px;
}

#menu1056 > div,#menu1056 > div > .childcontent-inner {
    width: 240px;
}

#menu1107 > div,#menu1107 > div > .childcontent-inner {
    width: 240px;
}

#menu1154 > div,#menu1154 > div > .childcontent-inner {
    width: 240px;
}

#menu1251 > div,#menu1251 > div > .childcontent-inner {
    width: 240px;
}

#menu1057 > div,#menu1057 > div > .childcontent-inner {
    width: 240px;
}

#menu1225 > div,#menu1225 > div > .childcontent-inner {
    width: 240px;
}

#menu1118 > div,#menu1118 > div > .childcontent-inner {
    width: 240px;
}

#menu1058 > div,#menu1058 > div > .childcontent-inner {
    width: 240px;
}

#gkIs-gk-is-820.gkIsWrapper-gk_university {
    min-height: 503px;
}

#gkIs-gk-is-820.gkIsWrapper-gk_university .gkIsSlide {
    background-size: 1720px 503px;
    height: 503px;
    max-width: 1720px;
}

#gkIs-gk-is-820.gkIsWrapper-gk_university figure,#gkIs-gk-is-820.gkIsWrapper-gk_university .gkIsPreloader {
    max-width: 1720px;
}

@media (max-width: 1040px) {
    #gkIs-gk-is-820.gkIsWrapper-gk_university {
        min-height: 304px;
    }

    #gkIs-gk-is-820.gkIsWrapper-gk_university .gkIsSlide {
        background-size: 1040px 304px;
        height: 304px;
        max-width: 1040px;
    }

    #gkIs-gk-is-820.gkIsWrapper-gk_university figure,#gkIs-gk-is-820.gkIsWrapper-gk_university .gkIsPreloader {
        max-width: 1040px;
    }
}

@media (max-width: 640px) {
    #gkIs-gk-is-820.gkIsWrapper-gk_university {
        min-height: 187px;
    }

    #gkIs-gk-is-820.gkIsWrapper-gk_university .gkIsSlide {
        background-size: 640px 187px;
        height: 187px;
        max-width: 640px;
    }

    #gkIs-gk-is-820.gkIsWrapper-gk_university figure,#gkIs-gk-is-820.gkIsWrapper-gk_university .gkIsPreloader {
        max-width: 640px;
    }
}

/* community */
/**/
.community {
   border: 1px solid #e6e6e6;
    border-top: 2px solid #f9cb8f;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
}
.community h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
   
    color: #f9cb8f;
}
.community .community-logo {
    background-color: #f9cb8f;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 25px auto 40px auto;
    border: 12px solid #f9cb8f;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 1;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.community-logo i {
    font-size: 70px;
    line-height: 136px;
    position: relative;
    color: #ffffff;
    z-index: 2;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.community:hover .community-logo i{
    color: #f9cb8f;
}
.community .info-block {
    position: relative;
    padding: 10px;
	    min-height: 245px;
}
.community .info-block:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #f9cb8f;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 60%;
    height: 2px;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.community .info-block p {
    position: relative;
    z-index: 2;
}
.community.color-1 {
   border-top-color: #34348C;
}
.community.color-1 .info-block:before,
.community.color-1 .community-logo{
    background-color: #f27c66;
}
.community.color-1:hover .community-logo i,
.community.color-1 h3{
    color: #f27c66;
}
.community.color-1 .community-logo {
    border-color: #f27c66;
}


.community.color-2 {
    border-top-color: #18bb7c;
}
.community.color-2 .info-block:before,
.community.color-2 .community-logo{
    background-color: #18bb7c;
}
.community.color-2:hover .community-logo i,
.community.color-2 h3{
    color: #18bb7c;
}
.community.color-2 .community-logo {
    border-color: #18bb7c;
}
.community:hover .community-logo {
    background: transparent !important;
}

/**/


.me {
    background:#091138;
    padding: 0px;
	border-top:5px solid #F7D044;
}

