.moving-zone {
  min-height: 280px;
  width: 0;
}
.moving-zone .popup {
  background: linear-gradient(left top,white 50%,#FFCC01 50%) repeat scroll 0 0 rgba(0,0,0,0);
  background: -webkit-linear-gradient(left top,white 50%,#FFCC01 50%) repeat scroll 0 0 rgba(0,0,0,0);
  background: -o-linear-gradient(left top,white 50%,#FFCC01 50%) repeat scroll 0 0 rgba(0,0,0,0);
  background: -moz-linear-gradient(left top,white 50%,#FFCC01 50%) repeat scroll 0 0 rgba(0,0,0,0);
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}
.moving-zone .popup h2 {
  margin: 0;
  
}
.moving-zone .popup:hover {
  background: linear-gradient(left top,#FFCC01 50%,white 50%) repeat scroll 0 0 rgba(0,0,0,0);
  background: -webkit-linear-gradient(left top,#FFCC01 50%,white 50%) repeat scroll 0 0 rgba(0,0,0,0);
  background: -o-linear-gradient(left top,#FFCC01 50%,white 50%) repeat scroll 0 0 rgba(0,0,0,0);
  background: -moz-linear-gradient(left top,#FFCC01 50%,white 50%) repeat scroll 0 0 rgba(0,0,0,0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.moving-zone .popup .popup-content {
background: none repeat scroll 0 0 #E4E1F1;
    box-sizing: border-box;
    padding: 8px;
    MIN-HEIGHT: 112PX;
}
.moving-zone .popup .popup-text {
  color: white;
}
.moving-zone .popup .popup-text b {
  color: coral;
  font-weight: 300;
}
.moving-zone .popup .popup-text p {
 font-size: 14px;
    line-height: 22px;
    font-family: calibri;
  
}
.shadow-1 {
  box-shadow: 0 28px 16px -26px black;
}
.shadow-1:hover {
  box-shadow: 0 58px 36px -56px black;
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
   .head
	{
	    font-family: Calibri;
    font-size: 25px;
    color: #34348C;
    font-weight: bold;
	}